.details-headline-wrapper{
  
    border-radius: 10px;
    padding-left: 3px;
    padding-right: 3px;
    flex-basis: calc(50% - 12px);
    margin-bottom: 5px;
    margin-right: 5px;
    background-color: white;
    box-shadow: 0 0 3px 0 rgba(0, 0, 0, 0.2), 0 3px 3px 0 rgba(0, 0, 0, 0.24);
    height: 140px;
    overflow: auto;
   
  }
  .details-headline-wrapper p{
    text-align: left;
    margin-block-start: 0.1em;
    margin-block-end: 0.1em;
  }
