.formLarge {
    background: rgb(233,242,242);
    max-width: 95%;
    margin: auto;
    margin-top: 15px;
    padding: 15px;
    text-align: center;
    border-radius: 30px;
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: flex-start;
    align-items: stretch;
   
  }
  .formLarge div{
    overflow-wrap: break-word
  }
  

  .formLarge h3 {
  
    text-align: left;
  }
  

  
  .formLarge input {
  
    display: block;
    font-family: "Roboto", sans-serif;
    outline: 0;
    background: white;
    height: 50px;
    border: 0;
    margin: 0 0 15px;
    padding: 15px;
    border-radius: 10px;
    box-sizing: border-box;
    font-size: 14px;
    text-align: center;
    border: 2px solid rgb(200,200,200);
    width: 90%;
  }
  


  

  .formLarge button {
    font-family: "Roboto", sans-serif;
    text-transform: uppercase;
    font-weight: bold;
    outline: 0;
    background: #989999;
    width: 90%;
    height: 50px;
    
    border: 0;
    padding: 15px;
    color: #ffffff;
    font-size: 14px;
    border-radius: 10px;
    -webkit-transition: all 0.3 ease;
    transition: all 0.3 ease;
    cursor: pointer;
  }
  .formLarge button:hover,
  .formLarge button:active,
  .formLarge button:focus {
    background: #737474;
  }




  .formLarge div{
    flex-basis: calc(50% - 12px);
  }
  .formLarge form{
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-basis: calc(50% - 12px);
    
  }

  .formLarge p{
    text-align: left;
    
    font-weight: bold;
 
    border-radius: 10px;
    padding: 3px;
  
  }

  .formLarge textarea{
    flex: 1;
    padding: 15px;
    border-radius: 10px;
    box-sizing: border-box;
    font-size: 14px;
    text-align: center;
    border: 2px solid rgb(200,200,200);
    width: 90%;
  }
  .formLarge span{
    text-decoration: underline;
    
  }

  .formLarge .error {

    border: 2px solid red;
  }