.btn {
    font-family: "Roboto", sans-serif;
    font-weight: bold;
    
    outline: 0;
    background: rgb(234, 243, 246);
    width: 220px;
    margin-top: 1em;
    border: 0;
    padding: 15px;
    color: rgb(150, 150, 150);
    font-size: 20px;
    border-radius: 10px;
    -webkit-transition: all 0.3 ease;
    transition: all 0.3 ease;
    cursor: pointer;
    
  }
  .btn:hover,
  .btn:active,
  .btn:focus {
    font-style: italic;
  }