section {
    margin-bottom: 100px;
    margin-top: 100px;
  }
  
  #home {
    margin-top: 100px;
  }
  
img {
    display: block;
    margin: auto;
    height: 45%;
    width: 45%;
    background-color: transparent;
  }
  
h1 {
    font-style: italic;
    font-size: 39px;
    color: rgb(68, 67, 67);
    text-align: center;
  }
  
  h2,
  h3 {
    font-style: italic;
    font-size: 27px;
    color: rgb(68, 67, 67);
    text-align: center;
  }