
  .formLarge {
    background: rgb(233,242,242);
    max-width: 95%;
    margin: auto;
    margin-top: 15px;
    padding: 15px;
    text-align: center;
    border-radius: 30px;
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: flex-start;
    align-items: stretch;
  }
  
  
  
  .formLarge h4{
    font-size: x-large;
  }
  

  .inputContainer {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-bottom: 10px;
}
.small{
  width: 80%;
  
  }
.verySmall{
    width: 15%;
  
    }

    .normal{
        width: 95%;
        display: inline;
        }
  .formLarge select {
    
    font-family: "Roboto", sans-serif;
    outline: 0;
    width: 95%;
    height: 50px;
    border: 0;
    margin: 0 0 15px;
    padding: 5px;
    border-radius: 10px;
    box-sizing: border-box;
    font-size: 14px;
    text-align: center;
    background-color: white;
    border: 2px solid rgb(200,200,200);
  }
  .formLarge label{
    font-family: "Roboto", sans-serif;
    outline: 0;
    width: 90%;
    height: 15px;
    border: 0;
    margin-top: 15px;
    margin-bottom: 15px;
    padding: 3px;
    border-radius: 10px;
    box-sizing: border-box;
    font-size:medium;
    text-align: left;
    font-weight:bolder;
    
  }

  .formLarge textarea {
   
  width: 100%;
    min-height: 100px;
    margin-bottom: 10px;
    border-radius: 10px;
    text-align:left;
    background-color: white;
    height: 85px;
    box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
  }
  .formLarge button {
    width: 100%;
    font-family: "Roboto", sans-serif;
    text-transform: uppercase;
    font-weight: bold;
    outline: 0;
    background: #989999;

    border: 0;
    padding: 15px;
    color: #ffffff;
    font-size: 14px;
    border-radius: 10px;
    -webkit-transition: all 0.3 ease;
    transition: all 0.3 ease;
    cursor: pointer;
  }
  .formLarge button:hover,
  .formLarge button:active,
  .formLarge button:focus {
    background: #737474;
  }
  
  .form .register-form {
    display: none;
  }
  .container {
    position: relative;
    z-index: 1;
    max-width: 300px;
    margin: 0 auto;
  }
  .container:before,
  .container:after {
    content: "";
    display: block;
    clear: both;
  }
  
  .formLarge .message {
    margin: 15px 0 0;
    color: #b3b3b3;
    font-size: 17px;
  }
  .formLarge .message a {
    color: #535353;
    text-decoration: none;
  }
  
  #editUsrBtn{
    width: 100%;
  }

  .inlineDiv{
    align-items: center;
    border-radius: 10px;
    padding-left: 5px;
    padding-right: 5px;
    padding-top: 10px;
    flex-basis: calc(50% - 15px);
    margin-bottom: 10px;
    margin-right: 5px;
    flex-direction: column;
    background-color: white;
    box-shadow: 0 0 3px 0 rgba(0, 0, 0, 0.2), 0 3px 3px 0 rgba(0, 0, 0, 0.24);
    max-width: calc(50%-15px);
    overflow-wrap: break-word
   
  }

  .inlineDiv input {
    
    font-family: "Roboto", sans-serif;
    outline: 0;
    background: white;
    height: 50px;
    border: 0;
    margin: 0 0 10px;
    margin-top: 10px;
    padding: 15px;
    border-radius: 10px;
    box-sizing: border-box;
    font-size: 14px;
    text-align: center;
    border: 2px solid rgb(200,200,200);
   
  }