.comments-history{
    flex-basis: calc(100%);
    background-color: white;
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
    display: block;
    padding: 10px;
    border-radius: 15px;
    margin-bottom: 3px;
    text-align: left;
  }
  

  
  .comments-history span{
   font-weight: bold;
  
  }