<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=\, initial-scale=1.0" />
    <link rel="stylesheet" href="../../styles/styles.css" />
    <title>Plan B</title>
    <script src="../../src/app.js" type="module"></script>
    <link rel="stylesheet" type="text/css" href="//cdn.datatables.net/1.10.7/css/jquery.dataTables.css">
    <script type="text/javascript" language="javascript" src="//code.jquery.com/jquery-1.11.1.min.js"></script>
    <script type="text/javascript" language="javascript" src="//cdn.datatables.net/1.10.7/js/jquery.dataTables.min.js"></script>
    <script type="text/javascript" language="javascript" src="//cdn.datatables.net/buttons/2.3.6/js/dataTables.buttons.min.js"></script>
    <script type="text/javascript" language="javascript" src="//cdnjs.cloudflare.com/ajax/libs/jszip/3.1.3/jszip.min.js"></script>
    <script type="text/javascript" language="javascript" src="//cdn.datatables.net/buttons/2.3.6/js/buttons.html5.min.js"></script>
    <script type="text/javascript" language="javascript" src="//cdnjs.cloudflare.com/ajax/libs/moment.js/2.8.4/moment.min.js"></script>
    <script type="text/javascript" language="javascript" src="//cdn.datatables.net/plug-ins/1.13.3/sorting/datetime-moment.js"></script>

  </head>
  <body>
    <div id="wrapper">
      <header>
        <!-- Navigation -->
        <a id="logo" href="/"
          ><img id="logo-img" src="../../images/logoPost.png" alt=""
        /></a>
        
        <nav>



          <!-- Logged-in users -->
          <div class="user">
            <a href="/dashboard">Моите Заявки</a>         
            <a href="/create">Създай Заявка</a>
            <a href="javascript:void(0)" id="logout">Изход</a>
            <a href="#" id="profile"></a>

          </div>

          <!-- Guest users -->
          <div class="guest">
            <a href="/login">Вписване на потребител</a>
            <a href="/register">Регистрация</a>
          </div>
          <!--Admin users-->
          <div class="admin">
            <a href="/admin">List All Users</a>         
            <a href="/createUser" id="createUserActiveDir">Create User</a>
            <a href="javascript:void(0)" id="logoutAdmin">Logout</a>
          </div>

          <!--Workflow Designer Users-->
          <div class="workflow">
            <a href="/roles">Roles</a>         
            <a href="/statuses">Statuses</a>
            <a href="/subjects">Subjects</a>
            <a href="/workflows">Workflows</a>
            <a href="javascript:void(0)" id="logoutWorkflow">Logout</a>
          </div>
        </nav>
      </header>
      <div class="notification-wrapper">
        
      </div>
      
      <main>
       {{{body}}}
      </main>
    </div>
  </body>
</html>
