header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.05em 3em;
    background: white;
  }
  .notification{
    background-color: red;
    color: aliceblue;
    display: flex;
    min-width: 120px;
    width: 200px;
    height: fit-content;
    border-radius: 15px;
    padding: 10px 10px 10px 10px;
    font-size: large;
    font-weight: bolder;
    margin: 5px;
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
  }
  .notification-wrapper{
    background-color: aliceblue;
    color: red;
    display: flex;
    position:fixed;
    top:2%;
    right: 2%;
    width: fit-content;
    height: fit-content;
    border-radius: 15px;
    padding: 10px 10px 10px 10px;
    font-size: large;
    font-weight: bolder;
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
  }
  nav {
    background-color: #7a6e6e;
    height: 0px;
    margin-bottom: 5px;
    display: flex;
    justify-content: space-between;
    color: rgb(228, 227, 227);
  }
  

  
  header a img {
    width: 200px;
    height: 90px;
  }
  
  nav a {
    font-size: 1.5rem;
    color: #0a0a0a;
    font-weight: 400;
  }
  
  header a {
    padding: 0 10px;
    text-decoration: none;
    color: rgb(150, 150, 150);
  }
  
  header a:hover {
    color: rgb(202, 203, 204);
  }