.tableLarge {
    background: rgb(234, 243, 246);
    max-width: 1400px;
    margin: auto;
    margin-top: 35px;
    padding: 20px;
    text-align: center;
    border-radius: 15px;
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
  }

.tableLarge table{
    padding: 0.1em;
    margin-left: auto;
    margin-right: auto;
}
.tableLarge thead tr{
   background: rgb(234, 243, 246);
}

.tableLarge tbody {
    background: white
}
.tableLarge th {
    text-align: left;
    padding: 0.25em;
    border-right: 1px solid rgb(160, 160, 160);
    border-bottom: 1px solid rgb(160, 160, 160);
    color:rgb(150, 150, 180);
    margin: 0;
}
.tableLarge tr{
    background-color: white;
}
.tableLarge td {
    padding: 8px;
    border-right: 1px solid rgb(160, 160, 160);
    border-bottom: 1px solid rgb(160, 160, 160);
    text-align: left;
    min-width: 95px;
    margin: 0;
}



  .tableLarge td a{
    color:rgb(150, 150, 180);
    text-decoration: none;
  }

  .filterInput {
    height: 30px;
    margin-bottom: 5px;
    margin-right: 10%;
    padding: 3px;
    border-radius: 5px;
    width: 210px;
    border: 0;
    
  }

  .excel{

    height: 30px;
    width: 70px;
    font-family: "Roboto", sans-serif;
    text-transform: uppercase;
    font-weight: bold;
    outline: 0;
    background: #667;
    border: 0;
    padding: 5px;
    color: #ffffff;
    font-size: 12px;
    border-radius: 5px;
  
    margin: auto;
    text-align: center;
    
  }
  .excel:hover {background-color: rgb(187, 194, 197);}

  .excel:active {
    background-color: rgb(187, 194, 197);
    box-shadow: 0 5px rgb(187, 194, 197);
    transform: translateY(4px);
  }