@import url(https://fonts.googleapis.com/css?family=Roboto:300);

.login-page {
  width: 360px;
  padding: 8% 0 0;
  margin: auto;
}
.formLarge {
  background: rgb(233,242,242);
  max-width: 95%;
  margin: auto;
  margin-top: 45px;
  padding: 15px;
  text-align: center;
  border-radius: 30px;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
}


.form {
  background: #ffffff;
  max-width: 460px;
  margin: auto;
  margin-top: 100px;
  padding: 45px;
  text-align: center;
  border-radius: 30px;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
}


.form h2 {
  margin-top: 0px;
  margin-bottom: 30px;
  font-size: 30px;
  margin-block-start: 1em;
}





.formLarge input {

  display: block;
  font-family: "Roboto", sans-serif;
  outline: 0;
  background: white;
  height: 50px;
  border: 0;
  margin: 0 0 15px;
  padding: 15px;
  border-radius: 10px;
  box-sizing: border-box;
  font-size: 14px;
  text-align: center;
  border: 2px solid rgb(200,200,200);
 
}

input.small{
width: 84%;
display: inline-block;
}
input.verySmall{
  width: 15%;
  display: inline-block;
  }
.formLarge select {
  display: block;
  font-family: "Roboto", sans-serif;
  outline: 0;

  height: 50px;
  border: 0;
  margin: 0 0 15px;
  padding: 15px;
  border-radius: 10px;
  box-sizing: border-box;
  font-size: 14px;
  text-align: center;
  background-color: white;
  border: 2px solid rgb(200,200,200);
}
.formLarge label{
  font-family: "Roboto", sans-serif;
  outline: 0;
  width: 90%;
  height: 15px;
  border: 0;
  margin: 0 0 15px;
  padding: 5px;
  border-radius: 10px;
  box-sizing: border-box;
  font-size: 14px;
  text-align: left;
}
.inlineDiv{
  
  border-radius: 10px;
  padding-left: 15px;
  padding-right: 15px;
  display: inline-flex;
  width: 400px;
  margin-bottom: 10px;
  margin-right: 5px;
  flex-direction: column;
  background-color: white;
  box-shadow: 0 0 3px 0 rgba(0, 0, 0, 0.2), 0 3px 3px 0 rgba(0, 0, 0, 0.24);
 
}
.formLarge textarea {
 
  min-width: 800px;
  min-height: 50px;
  margin-bottom: 10px;
  border-radius: 10px;
  text-align: center;
  background-color: white;
  height: 85px;
  box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
}
.formLarge button {
  font-family: "Roboto", sans-serif;
  text-transform: uppercase;
  font-weight: bold;
  outline: 0;
  background: #989999;
  width: 50%;
  border: 0;
  padding: 15px;
  color: #ffffff;
  font-size: 14px;
  border-radius: 10px;
  -webkit-transition: all 0.3 ease;
  transition: all 0.3 ease;
  cursor: pointer;
}
.formLarge button:hover,
.formLarge button:active,
.formLarge button:focus {
  background: #737474;
}

.form .register-form {
  display: none;
}
.container {
  position: relative;
  z-index: 1;
  max-width: 300px;
  margin: 0 auto;
}
.container:before,
.container:after {
  content: "";
  display: block;
  clear: both;
}

.formLarge .message {
  margin: 15px 0 0;
  color: #b3b3b3;
  font-size: 17px;
}
.formLarge .message a {
  color: #535353;
  text-decoration: none;
}
